$navbar-height: min(2em, 6vh);
$copyright-height: 20px;

.content {
    height: 100vh;

    app-navbar {
        height: $navbar-height;
        width: 100%;
    }

    .router {
        height: calc(100vh - #{$navbar-height} - #{$copyright-height});
    }
}