:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.opponent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

select {
    text-align: center;
}

.queue {
    width: 80%;
    text-align: center;
}

.queue, .cancel {
    margin-top: 1em;
}

.lb {
    margin: 0.2em 0.2em auto auto;
    font-size: 0.7em;
}