:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.opponent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

select {
    text-align: center;
}