:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 3em;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.opponent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: -2em 0 1em 0;
}

select {
    text-align: center;
}

.queue {
    width: 80%;
    text-align: center;
}

.queue,
.cancel {
    margin-top: 1em;
}

.lb {
    margin: 0.2em 0.2em auto auto;
    font-size: 0.7em;
    z-index: 1;
    color: gold;
}

.choice {
    .options {
        text-align: center;
        font-size: 0.7em;
        button {
            width: 7em;
        }

    }

    .selector {
        margin-top: 1em;
        &, select, option {
            text-align: center;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.ng-autocomplete {
    font-size: 0.8em;
    width: max(300px, 80%)!important;
}