<div class="player-name">
    <label *ngIf="renamingPlayer">
        <input [(ngModel)]="playerName" maxlength="32" type="text" placeholder="Snake Name" value="My Snake"
            (ngModelChange)="save()" (blur)="renamingPlayer=false" (keyup.enter)="renamingPlayer=false">
    </label>
    <label *ngIf="!renamingPlayer">
        <span>{{myPlayersString}}:</span>
        <select [(ngModel)]="playerID" (ngModelChange)="playerUpdated()">
            <option *ngFor="let player of players" [value]="player._id">{{player.name}}</option>
            <option [value]="undefined">{{newPlayerString}}</option>
        </select>
    </label>
</div>
<div class="buttons">
    <button class="button1" *ngIf="!renamingPlayer" (click)="renamingPlayer=true">{{renamePlayerString}}</button>
    <button class="button1" *ngIf="!renamingPlayer" (click)="rankPlayer()">Submit to Leaderboard</button>
    <button class="button1 delete" *ngIf="!renamingPlayer" (click)="deletePlayer()">{{deletePlayerString}}</button>
</div>
<div *ngIf="ranking" class="rank">
    <div>Calculating your place in the leaderboard</div>
    <div class="rank-slider" [ngStyle]="rankSliderStyle()"></div>
    <div class="queue" *ngIf="rankQueue >= 0">There {{rankQueue === 1? 'is': 'are'}} {{rankQueue}} {{rankQueue === 1?
        'game': 'games'}} ahead of you in the game queue</div>
    <div class="queue" *ngIf="rankResult >= 0">You came {{rankResult}}{{suffix(rankResult)}} out of {{leaderboardSize}}</div>
    <button *ngIf="cancellable" class="button1" (click)="cancelRank()">Cancel</button>
</div>