.hidden{
    opacity: 0;
    transform: translateX(200%);
}

:host {
    position: fixed;
    top: 0.5em;
    right: 0;
    font-size: 0.7em;
    pointer-events: none;
}

.warning {
    position: absolute;
    right: 0;
    pointer-events: all;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: lightcoral;
    color: black;
    padding: 0.2em 0.5em;
    cursor: pointer;
    border-radius: 0.5em 0 0 0.5em;
    white-space: nowrap;

    &:not(.hidden).depressed {
        opacity: 0.5;
        transform: translateX(90%);
    }
}

.save {
    background-color: lightblue;
}