.content {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px 10px 3em 10px;
    font-size: clamp(10px, 5vw, 1em);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    app-donation-notice {
        margin-top: auto;
    }

    table {
        margin: 30px auto;
        
        th {
            border-bottom: 1px solid white;
        }

        th, td {
            padding: 0.2em 1em;
        }

        .mine {
            td {
                background-color: #590000;
            }
        }

        .first td {
            background-color: goldenrod;
            color: black;
        }

        .second td {
            background-color: silver;
            color: black;
        }

        .third td {
            background-color: darkorange;
            color: black;
        }
    }
}

