:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: min(1em, 3vh);
    background-color: #21094e;
    border-bottom: 0.03em solid #a9f1df;

    > * {
        margin-left: 1em;
        cursor: pointer;
        white-space: nowrap;
    }

    > :last-child {
        margin-left: auto;
    }

    > img {
        height: 1.5em;
    }
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.dropdown {
    position: relative;
    white-space: nowrap;

    &:hover, &:focus {
        .content {
            opacity: 1;
            pointer-events: all;
        }

    }

    .content {
        z-index: 1;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.1s ease;
        top: 100%;
        left: 0;
        min-width: 100%;
        background-color: black;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border: 0.04em solid #1eae98;
        cursor: default;
        > * {
            margin: 0.2em 0;
            white-space: nowrap;

            &:not(:last-child) {
                border-bottom: 1px solid #1eae98;
            }
            width: 100%;
            padding: 0.5em 1em;

            &:not(.coming-soon) .name {
                font-weight: bold;
                cursor: pointer;
                transition: transform 0.1s ease;
                display: inline-block;
                &:hover {
                    transform: scale(1.1);
                    color: #1eae98;
                }
            }

            &.coming-soon .name {
                text-decoration: line-through;
            }

            .note {
                color: red;
                font-weight: bold;
                margin-left: 0.5em;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .title {
        display: none;
    }

    .donate {
        display: none;
    }
}