:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: min(1em, 3vh);
    background-color: #21094e;
    border-bottom: 0.03em solid #a9f1df;

    > * {
        margin: 0 1em;
    }

    :last-child {
        margin-left: auto;
    }

    img {
        height: 60%;
    }
}