<app-snake-preview></app-snake-preview>
<img class="logo" src="/assets/logo.png" height="50px">
<div class="info">
    <h1>
        IcedGabriel
    </h1>
    <p>Unofficial University of Cambridge programming challenges</p>
    <div *ngIf="user.loggedIn">
        <p>Pick a game to get started</p>
        <div class="games">
            <button class="button2" *ngFor="let game of gameList.games" [disabled]="!game.available" (click)="gameList.goTo(game)">
                {{game.name}}
                <img class="preview" [src]="'/assets/previews/'+game.id+'.png'" [alt]="game.name" onerror="this.classList.add('none')">
            </button>
        </div>
    </div>
    <p *ngIf="!user.loggedIn">Log in with Raven to get started</p>
    <app-log-in-out-button *ngIf="!user.loggedIn"></app-log-in-out-button>    
    <app-donation-notice></app-donation-notice>
</div>
