:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #21094e;
    height: 100%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    > * {
        margin: 0.15em 0;
    }
    img {
        height: 1em;
    }
}
