:host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

@function text-stroke($width, $color) {
    $result: "";
    @for $size from 1 through $width/1px {
        @for $y from -$size through $size {
            @for $x from -$size through $size {
                $result: $result + ""+($x*1px)+" "+($y*1px)+" "+$color+",";
            }
        }
    }
    @return unquote(str-slice($result, 0, -2));
}

.info {
    font-size: 0.7em;
    padding: 1em;
    border-radius: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    position: relative;
    $size: 1px;
    $color: black;
    text-shadow: text-stroke(1px, black);
}

.logo {
    position: absolute;
    top: 10vh;
    right: 2vw;
    height: min(200px, min(20vw, 20vh));
}


h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    > * {
        margin: 0.15em 0;
    }
}

.games {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: black;

    > button {
        transition: transform 0.1s ease;
        margin: 1em 0;
        width: 100%;
        display: block;
        position: relative;

        .preview {
            position: absolute;
            top: 50%;
            left: 120%;
            height: 3em;
            transform: translateY(-50%) translateX(-50%) rotate(20deg);
            border: 1px solid black;
            box-shadow: 0 0 10px 7px black;

            &.none {
                display: none;
            }
        }

        &:hover:not(:disabled) {
            transform: scale(1.1);
        }

        &:disabled {
            cursor: default;
            position: relative;
            transition: color 0.1s ease;

            &:hover {
                color: inherit;

                &::after {
                    transform: translateY(-200%);
                }
            }

            &::after {
                position: absolute;
                pointer-events: none;
                transition: transform 0.1s ease;
                top: 50%;
                left: -5em;
                right: -5em;
                text-align: center;
                transform: translateY(-50%) rotate(-5deg);
                z-index: 1;
                width: auto;
                content: "Coming soon!";
                color: red;
                font-weight: bold;
                text-shadow: text-stroke(1px, black);
            }
        }
    }
}

app-snake-preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

