option:disabled {
    display: none;
}

:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.5em;
}

select,
option,
input[type="text"] {
    text-align: center;
}

.snake-name {
    height: 2em;
    label {
        > * {
            margin: 0 0.5em;
        }
    }
}
