:host {
    background-color: black;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
}


::ng-deep {
    .as-split-gutter {
        .as-split-gutter-icon {
        }
        background-color: #21094e !important;
    }
}
