<as-split direction="horizontal" (dragEnd)="resized()" (gutterDblClick)="resized()" (transitionEnd)="resized()">
    <as-split-area [size]="60">
        <as-split direction="vertical" (dragEnd)="resized()" (gutterDblClick)="resized()" (transitionEnd)="resized()">
            <as-split-area [size]="60">
                <app-ide (onFilesChange)="codeFiles=$event;codeChanged.emit()" [newCodeFiles]="loadedCodeFiles" [game]="game" [resize]="resizeEmitter"></app-ide>
            </as-split-area>
            <as-split-area [size]="20">
                <template #optionsContainer></template>
            </as-split-area>
            <as-split-area [size]="20">
                <app-console></app-console>
            </as-split-area>
        </as-split>
    </as-split-area>
    <as-split-area style="overflow-x: auto" [size]="40">
        <template #playerContainer></template>
    </as-split-area>
</as-split>
