$toolbar-height: 50px;

.toolbar {
    overflow-y: hidden;
    &,
    .files {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: $toolbar-height;
        overflow-x: auto;
        width: 100%;
    }
    font-size: 0.5em;

    > * {
        user-select: none;
    }

    .new-file {
        padding: 0 1em;
        cursor: pointer;
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.5) rotate(360deg);
        }
    }

    .file {
        &.selected {
            background-color: #141414!important;
        }
        &:hover:not(:active):not(.selected) {
            background-color: #343434!important;
        }
    }
}

.editor {
    width: 100%;
    height: calc(100% - #{$toolbar-height});
}

.download {
    cursor: pointer;
    margin: 0 1em;
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.5);
    }
}

.save {
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;

    &.hidden {
        opacity: 0;
    }
}