<div class="toolbar">
    <div class="new-file" (click)="newFile()">
        <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    <div class="files" [dragula]="editingFilename === null ? 'DRAGULA_FILES' : ''">
        <div *ngFor="let file of codeFiles; let i = index" class="file" [title]="file.filename" (contextmenu)="displayContextMenu($event, i); false"
            (click)="selectedSession=editingFilename === i ? selectedSession : i" (dblclick)="editingFilename=file.protected ? null : i;" (blur)="editingFilename=null" [ngClass]="{selected: i===selectedSession}">
            <input maxlength="32" #filenameinput type="text" [disabled]="editingFilename!==i" (change)="updateLanguage(i, $event)" (keyup.enter)="editingFilename=null" (blur)="editingFilename=null" placeholder="filename" [value]="file.filename">
        </div>
    </div>
</div>
<div class="editor" #editor></div>
<app-context-menu *ngIf="displayingContextMenu && contextMenuItems.length" [ngStyle]="getContextMenuStyle()" [items]="contextMenuItems"></app-context-menu>