<label>
    1 turn/s<input type="range" min="1" max="100" [(ngModel)]="turnsPerSecond">100 turns/s
</label>
<div class="container">
    <div class="hand" [ngClass]="{active: !myTurn}">
        <div *ngFor="let i of opponentCards" class="card back">
            <div class="text">Uno</div>
        </div>
    </div>
    <div class="deck">
        <div class="card" [class]="lastPlayedCard? (lastPlayedCard.suit+' '+lastPlayedCard.value): 'empty'">
            <div class="text">{{lastPlayedCard? text[lastPlayedCard.value]: ''}}</div>
            <div *ngIf="animating && !animatingDraw" class="card floating"
                [class]="animatingCard? (''+animatingCard.value+' '+animatingCard.suit): 'back'"
                [ngStyle]="{animationName: animatingMe?'floatdown': 'floatup', animationDuration: ''+animationDuration+'ms', animationDirection: 'reverse'}">
                <div class="text">
                    {{animatingCard? text[animatingCard.value] : 'Uno'}}
                </div>
            </div>
        </div>
        <div class="card" [class]="deckSize? 'back': 'empty'">
            <div class="text">{{deckSize? 'Uno': ''}}</div>
            <div *ngIf="animating && animatingDraw" class="card floating"
                [class]="animatingCard? (''+animatingCard.value+' '+animatingCard.suit): 'back'"
                [ngStyle]="{animationName: animatingMe?'floatdown': 'floatup', animationDuration: ''+animationDuration+'ms', animationDirection: 'normal'}">
                <div class="text">{{animatingCard? text[animatingCard.value] : 'Uno'}}</div>
            </div>
        </div>
    </div>
    <div class="myhand hand" [ngClass]="{active: myTurn}">
        <div *ngFor="let i of myHand" class="card" [class]="i.suit+' '+i.value">
            <div class="text">{{text[i.value]}}</div>
        </div>
    </div>
</div>
<button *ngIf="playingGame && !cancelledGame" class="button1" (click)="cancelledGame=true">Cancel</button>
<span class="winner" *ngIf="winner">{{winner}}</span>
<span class="details" *ngIf="details">{{details}}</span>