@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 2em;
    color: #e3fff8;
    background-color: black;
}

body,
input[type="text"] {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

input[type="text"],
select,
.autocomplete-container .suggestions-container ul li a,
.autocomplete-container .not-found {
    font-size: 1em !important;
    background-color: #616161 !important;
    color: white !important;
    border: 0.1em solid #414141 !important;
}

.autocomplete-container .not-found div {
    border: none!important;
}

button,
input,
textarea,
select,
option {
    font-size: 1em;
}

button {
    cursor: pointer;
}

.button1 {
    border: 0.03em solid black;
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    background-color: #b4aee8;

    &:hover {
        background-color: #938dc9;
    }

    &:active {
        background-color: #726ca8;
    }
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.5em;
    height: 1.8em;
    border: 0.01em solid black;
    background-color: #a9f1df;
    border-radius: 0.2em;
    text-decoration: none;
    color: black;

    &:not(:disabled) {
        &:hover {
            background-color: #8ce6cf;
        }

        &:active {
            background-color: #6bcfb5;
        }
    }

    > *:not(:first-child) {
        margin-left: 0.5em;
    }

    > *:not(:last-child) {
        margin-right: 0.5em;
    }

    img {
        height: 1.5em;
    }
}

.button3 {
    background-color: #b4aee8;
    border: 1px solid darkblue;
    padding: 0.3em 0;

    &.selected {
        background-color: #a9f1df;

        &:hover {
            background-color: #8ce6cf;
        }

        &:active {
            background-color: #6bcfb5;
        }
    }

    &:hover {
        background-color: #938dc9;
    }

    &:active {
        background-color: #726ca8;
    }
}

.button4 {
    padding: 0.4em;
}

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
    font-size: 0.5em;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

$file-width: 5em;
.file {
    width: $file-width;
    background-color: #242424!important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    border: 0.05em solid black;
    cursor: pointer;

    input {
        text-align: center;
        width: $file-width;

        &:disabled {
            background-color: transparent!important;
            border: none!important;
            color: white;
            font-size: 1em;
            cursor: inherit;
            display: inline-block;
            text-overflow: ellipsis;
            pointer-events: none;
            margin: 0;
            padding: 0;
        }
    }
}
