@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 2em;
    color: #e3fff8;
}

* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

button, input, textarea {
    font-size: 1em;
}

button {
    cursor: pointer;
}

.button1 {
    border: 0.03em solid black;
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    background-color: #b4aee8;

    &:hover {
        background-color: #938dc9;
    }

    &:active {
        background-color: #726ca8;
    }
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.5em;
    height: 1.8em;
    border: 0.01em solid black;
    background-color: #a9f1df;
    border-radius: 0.2em;

    &:not(:disabled) {

        &:hover {
            background-color: #8ce6cf;
        }

        &:active {
            background-color: #6bcfb5;
        }
    }

    > *:not(:first-child) {
        margin-left: 0.5em;
    }

    > *:not(:last-child) {
        margin-right: 0.5em;
    }

    img {
        height: 1.5em;
    }
}